*{
  font-family: 'Roboto', sans-serif;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
}

img{
  height: 250px;
  width: 250px;
}

/*.container-fluid{
  background-color: pink;
}*/

#landing{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}

ul{
  list-style: none;
  padding: 0;
}

h2{
  color: #007bff;
}

.tools{
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  width: 75%
}